<section>
  <div class="page-header">
    <h1>{{vm.station._id ? 'Edit Station' : 'New Station'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.stationForm" class="form-horizontal" ng-submit="vm.save(vm.form.stationForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Name</label>
          <input name="name" type="text" ng-model="vm.station.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.stationForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Station name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="addres">Addres</label>
          <input name="addres" type="text" ng-model="vm.station.addres" id="addres" class="form-control" placeholder="Addres" required>
          <div ng-messages="vm.form.stationForm.addres.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Addres name is required.</p>
          </div>
        </div>
       
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.station._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
