<section>
  <div class="page-header">
  <h1>Stacje krwiodastwa <input type="text" ng-model="searchStation"/> <button ng-show="vm.isManager" ui-sref="stations.view({stationId: vm.user_station})">Zarządzaj</button></h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="station in vm.stations|filter:searchStation"
       data-ui-sref="stations.view({ stationId: station._id })"
       class="list-group-item">
      <h4 class="list-group-item-heading" data-ng-bind="station.name"></h4>
      <station></station>
    </a>

    </div>
  </div>
</section>
