<table class='table'>
        <thead>
        <tr>
          <td ng-repeat="type in vm.blood_types">{{type}}</td>
        </tr>
        </thead>
        <tbody>
          <tr>
            <td ng-bind="station.zero_minus"></td>
            <td ng-bind="station.zero_plus"></td>
            <td ng-bind="station.A_minus"></td>
            <td ng-bind="station.A_plus"></td>
            <td ng-bind="station.B_minus"></td>
            <td ng-bind="station.B_plus"></td>
            <td ng-bind="station.AB_minus"></td>
            <td ng-bind="station.AB_plus"></td>
        </tbody>
</table>