<section>
  <div class="page-header">
    <h1 data-ng-bind="vm.station.name"></h1>
     <div data-ng-show="vm.station.isCurrentUserOwner">
        <a class="btn btn-primary"
          data-ui-sref="stations.edit({ stationId: vm.station._id })">
          <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="vm.remove()">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </div>
  </div>
 
  <p class="lead" data-ng-bind="vm.station.addres"></p>
  <blood-suplies></blood-suplies>
</section>
