<section>
  <div class="page-header">
    <h1 data-ng-bind="vm.station.name"></h1>
     <div data-ng-show="vm.isManager">
        <a class="btn btn-primary"
          data-ui-sref="stations.edit({ stationId: vm.station._id })">
          <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="vm.remove()">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </div>
       <a ng-show="vm.isAuthorizedToRequestTransfer" class="btn btn-primary" ui-sref="transfers.create({source: vm.station._id})">
          Transfer
       </a>
  </div>
 
  <p class="lead" data-ng-bind="vm.station.addres"></p>
  <div class='row' ng-if="vm.station.stats">
    <div class='col-md-1' ng-repet="blood_perc in vm.station.stats">
      {{blood_perc.name}}: {{blood_perc.value}}%
    </div>
  </div>
  <div id='manage_station' ng-show="vm.isManager">
   <blood-suplies ></blood-suplies>
   <table class='table'>
     <thead>
       <tr>
         <td>Imię</td>
         <td>Nazwizko</td>
         <td>E-mail</td>
         <td>Usuń</td>
       </tr>
     </thead>
     <tbody>
       <tr ng-repeat="employee in vm.employess">
        <td ng-bind="employee.firstName"></td>
        <td ng-bind="employee.lastName"></td>
        <td ng-bind="employee.email"></td>
        <td>  
          <a class="btn btn-primary" ng-click="vm.removeEmployee(employee);" ng-if="employee._id !== vm.authentication.user._id">
            <i class="glyphicon glyphicon-trash"></i>
          </a>
      </tr>
     </tbody>
   </table>
   <button ng-click="vm.toggleAddUser()" class="btn btn-default">{{vm.addUserEnabled?'Ukryj':'Dodaj Pracownika'}}</button>
      <div ng-include="'/modules/stations/client/views/station-employee-form.client.view.html'" ng-show='vm.addUserEnabled'></div>

  </div>
</section>
