<section>
  <div class="page-header">
    <h1>Transfery</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="transfer in vm.transfers"
       data-ui-sref="transfers.view({ transferId: transfer._id })"
       class="list-group-item">
      <h4 class="list-group-item-heading" >{{vm.getBloodTypeName(transfer.bloodType)}} {{transfer.amount}}l</h4>
      <small class="list-group-item-text">
        Wysłany
        <span data-ng-bind="transfer.created | date:'mediumDate'"></span>
        przez
        <span data-ng-if="transfer" data-ng-bind="transfer.destination"></span>
      </small>

    </a>
  </div>
</section>
