<section>
  <div class="page-header">
    <h1 data-ng-bind="vm.transfer.name"></h1>
  </div>
  <div ng-if="!vm.outbox" class="pull-right" >
    <button class="btn btn-success"
       ng-click="vm.acceptTransfer()">
      <i class="glyphicon glyphicon-ok"></i>
    </button>
    <button class="btn btn-danger" data-ng-click="vm.rejectTransfer()">
      <i class="glyphicon glyphicon-remove"></i>
    </button>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span data-ng-bind="vm.transfer.created | date:'mediumDate'"></span>
      by
      <span data-ng-if="vm.transfer.destination"
            data-ng-bind="vm.transfer.destination.name"></span>
    </em>
  </small>
  <p class="lead" data-ng-bind="vm.transfer.content"></p>
</section>
