<section>
  <div class="page-header">
    <h1 data-ng-bind="vm.transfer.name"></h1>
  </div>
  <div ng-if="!vm.outbox" class="pull-right" >
    <button class="btn btn-success"
       ng-click="vm.acceptTransfer()">
      <i class="glyphicon glyphicon-ok"></i>
    </button>
    <button class="btn btn-danger" data-ng-click="vm.rejectTransfer()">
      <i class="glyphicon glyphicon-remove"></i>
    </button>
  </div>
      <h2>Typ: {{vm.getBloodTypeName(vm.transfer.bloodType)}} <p class="pull-right {{vm.transfer.state}}">{{vm.transfer.state}}</p></h2>
      <h3>{{vm.transfer.amount}}l</h3>
      <button class="btn btn-danger" ng-click="vm.remove()">Usuń</button>
      </br>
      <small class="list-group-item-text">
        Wysłany
        <span data-ng-bind="vm.transfer.created | date:'mediumDate'"></span>
      </small>
</section>
